@page "/product"

@inject IProductRepository _productRepository
@inject IJSRuntime _jsRuntime
@inject IFileUpload _fileUpload

<_DeleteComponentButton OnDelete="ConfirmDelete_Click" IsParentLoading="IsLoading"></_DeleteComponentButton>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Product List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="/product/create" class="btn btn-primary form-control">Add New Product</a>

    </div>
    <div class="col-12 py-4">
        @if (Products.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Shop Favorites</th>
                        <th>Customer Favorites</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prod in Products)
                    {
                        <tr>
                            <td>@prod.Name</td>
                            <th>
                                <input type="checkbox" disabled checked="@prod.ShopFavorites"/>
                            </th>
                            <th>
                                <input type="checkbox" disabled checked="@prod.CustomerFavorites" />
                            </th>
                            <th>
                                @prod.Category.Name
                            </th>
                            <td>
                                <NavLink href="@($"product/edit/{prod.Id}")" class="btn btn-primary">Edit</NavLink>
                                <NavLink href="@($"product/price/{prod.Id}")" class="btn btn-success">Price</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(prod.Id)">Delete</button>
                                </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <div class="text-center">
                    <img src="/images/Bean Eater-1s-200px.gif" />
                </div>
            }
            else
            {
                <p>No records found.</p>
            }
        }

    </div>
</div>

@code {
    private IEnumerable<ProductDTO> Products { get; set; } = new List<ProductDTO>();
    public bool IsLoading { get; set; }
    private int DeleteProductId { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await LoadProducts();
    }
    private async Task LoadProducts()
    {
        IsLoading = true;
        StateHasChanged();
        Products = await _productRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }
    private void HandleDelete(int id)
    {
        DeleteProductId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;
        if(isConfirmed && DeleteProductId!= 0)
        {
            //delete
            ProductDTO prod = await _productRepository.Get(DeleteProductId);
            if (!prod.ImageUrl.Contains("default.png"))
            {
                _fileUpload.DeleteFile(prod.ImageUrl);
            }
            await _productRepository.Delete(DeleteProductId);
            await LoadProducts();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmModal");
        }
        IsLoading = false;
    }
}
